*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333;
  color: #fff;
}
.header{
height: 20vh;
background-image: url(download.png);
background-position: center;
background-repeat: no-repeat;
}
#bookTable{
  color: #fff;
}
.modal{
  color: #fff;
}